<p-table responsiveLayout="scroll" [value]="ledgerList" dataKey="rollupKey">
  <!-- Start of Parent Row -->
  <!-- Column Headers -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th style="width: 20rem" pSortableColumn="wDate">
        Date <p-sortIcon field="wDate"></p-sortIcon>
      </th>
      <th pSortableColumn="creditSummary" class="right">
        Credit Summary<p-sortIcon field="creditSummary"></p-sortIcon>
      </th>
      <th pSortableColumn="debitSummary" class="right">
        Debits Summary<p-sortIcon field="debitSummary"></p-sortIcon>
      </th>
      <th pSortableColumn="net" class="right">
        Net Change<p-sortIcon field="net"></p-sortIcon>
      </th>
      <th pSortableColumn="runningTotal" class="right">
        Balance <p-sortIcon field="runningTotal"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <!-- Data Rows -->
  <ng-template pTemplate="body" let-ledger let-expanded="expanded">
    <tr>
      <!-- Row Expander -->
      <td *ngIf="ledger.items.length === 0">
        <div style="width: 3rem"></div>
      </td>
      <td *ngIf="ledger.items.length !== 0">
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="ledger"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ ledger.wDate | date: "fullDate" }}</td>
      <!-- Credit Summary -->
      <td *ngIf="ledger.creditSummary === 0" class="right">-</td>
      <td
        *ngIf="ledger.creditSummary !== 0"
        [ngClass]="{
          red: ledger.creditSummary < 0,
          green: ledger.creditSummary > 0
        }"
        class="right"
      >
        {{ ledger.creditSummary | currency: "USD" }}
      </td>
      <!-- Debit Summary -->
      <td *ngIf="ledger.debitSummary === 0" class="right">-</td>
      <td
        *ngIf="ledger.debitSummary !== 0"
        [ngClass]="{
          red: ledger.debitSummary < 0,
          green: ledger.debitSummary > 0
        }"
        class="right"
      >
        {{ ledger.debitSummary | currency: "USD" }}
      </td>
      <!-- Net Change -->
      <td *ngIf="ledger.net === 0" class="right">-</td>
      <td
        *ngIf="ledger.net !== 0"
        [ngClass]="{ red: ledger.net < 0, green: ledger.net > 0 }"
        class="right"
      >
        {{ ledger.net | currency: "USD" }}
      </td>
      <td [ngClass]="{ red: ledger.runningTotal < 0 }" class="right">
        {{ ledger.runningTotal | currency: "USD" }}
      </td>
    </tr>
  </ng-template>
  <!-- End of Parent Row -->
  <ng-template pTemplate="rowexpansion" let-ledger>
    <tr>
      <td colspan="6">
        <div class="p-p-3">
          <!-- Start of Child Row -->
          <p-table
            responsiveLayout="scroll"
            [value]="ledger.items"
            dataKey="itemKey"
          >
            <!-- Column Headers -->
            <ng-template pTemplate="header">
              <tr>
                <th class="item-header" pSortableColumn="itemType">
                  Item Type <p-sortIcon field="itemType"></p-sortIcon>
                </th>
                <th class="item-header" pSortableColumn="period">
                  Period <p-sortIcon field="period"></p-sortIcon>
                </th>
                <th class="item-header" pSortableColumn="name">
                  Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th class="right item-header" pSortableColumn="amount">
                  Amount <p-sortIcon field="amount"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <!-- Data Rows -->
            <ng-template pTemplate="body" let-item>
              <tr>
                <td class="item-body">{{ item.itemType }}</td>
                <td class="item-body">{{ item.period }}</td>
                <td class="item-body">{{ item.name }}</td>
                <td
                  class="right item-body"
                  [ngClass]="{ red: item.amount < 0, green: item.amount > 0 }"
                >
                  {{ item.amount | currency: "USD" }}
                </td>
              </tr>
            </ng-template>
            <!-- Message for no Child Rows -->
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">There are no items for this date.</td>
              </tr>
            </ng-template>
          </p-table>
          <!-- End of Child Row -->
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
