:host ::ng-deep {
  .red {
    color: red;
  }

  .green {
    color: rgb(14, 182, 14);
  }

  .blue {
    color: blue;
  }

  .right {
    text-align: right !important;
  }
  .item-no-header {
    border: none !important;
  }
  .item-header {
    background-color: rgb(200, 200, 200) !important;
  }
  .item-body {
    background-color: rgb(245, 245, 245);
  }
}
