/* You can add global styles to this file, and also import other style files */
// node_modules\bootstrap\scss\_utilities.scss
// @import './variables';
// @import './mixins';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
