<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Page Title -->
    <a class="navbar-brand" href="#">{{ pageTitle }}</a>
    <div class="vertical-separator"></div>
    <!-- Progress Spinner -->
    <div class="navbar-brand list-spinner-box">
      <p-progressSpinner
        *ngIf="progressSpinner"
        strokeWidth="6"
        [style]="{ width: '2rem', height: '2rem' }"
        fill="#efefef"
        animationDuration="3s"
        styleClass="custom-spinner "
      ></p-progressSpinner>
    </div>
    <!-- Responsive Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <!-- Navigate to Item Detail Home Link -->
        <li class="nav-item">
          <a
            class="nav-link item-detail-home"
            aria-current="page"
            routerLink="/feature/item-detail"
          >
            <i>Item Detail Home</i>
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <!-- Search Box -->
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="search"
            class="form-control"
            placeholder="Search..."
          />
        </span>
        <!-- New Button -->
        <button
          pButton
          pRipple
          label="New"
          type="button"
          icon="pi pi-plus"
          class="p-button-success left-spacer new-button"
          [routerLink]="['./edit', 0]"
        ></button>
      </form>
    </div>
  </div>
</nav>
<div class="card">
  <div class="card-body" #cardBody>
    <div class="p-grid p-fluid">
      <!-- Credits Display Table -->
      <p-table
        #dt
        [value]="itemList"
        [rows]="7"
        [paginator]="true"
        [globalFilterFields]="['name', 'amount', 'period']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [rowHover]="true"
        dataKey="id"
      >
        <!-- Body: Column Headers -->
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="amount">
              Amount <p-sortIcon field="amount"></p-sortIcon>
            </th>
            <th pSortableColumn="period">
              Category <p-sortIcon field="period"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <!-- Body: Data -->
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount | currency: "USD" }}</td>
            <td>{{ item.period }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                [routerLink]="['./edit', item.id]"
                class="p-button-rounded p-button-success"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning left-spacer"
                (click)="deleteCredit(item.id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!-- Informational Messages -->
<p-messages></p-messages>
<!-- Delete Confirm Popup -->
<p-confirmDialog
  position="top"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
</p-confirmDialog>
