@import url(../../../shared/styles/feature-common.scss);
@import url(../../shared/styles/item-detail-common.scss);

:host ::ng-deep {
  .p-field-radiobutton {
    padding-top: 0.5rem;
    padding-right: 0.5rem;

    label {
      padding-left: 0.5rem;
    }
  }

  .vertical-button-spacer {
    margin: 0 0.5rem 0.5rem 0;
  }
}
