@import url(../../../shared/styles/feature-common.scss);
@import url(../../shared/styles/item-detail-common.scss);

:host ::ng-deep {
  .edit-spinner-box {
    padding-top: 4px;
    padding-bottom: 0px;
    margin-right: 1.5rem;
  }

  .top-spacer {
    margin-top: 1rem;
  }

  .p-col-max-width-15 {
    max-width: 15rem;
    min-width: 10rem;
  }

  .p-dropdown {
    width: auto;
    max-width: 14rem;
    min-width: 12rem;
  }

  .p-field-radiobutton {
    padding-top: 0.5rem;
    padding-right: 0.5rem;

    label {
      padding-left: 0.5rem;
    }
  }

  .p-calendar {
    height: 2.38rem;
    max-width: 14.5rem;
    min-width: 12rem;
  }

  .vertical-button-spacer {
    margin: 0 0.5rem 0.5rem 0;
  }
}
