:host ::ng-deep {

  button {
    margin-left: .25rem;
  }

  .link-button {
    width: 9rem;
    text-align: left;
  }

  .message-list-item {
    padding: 1rem 0 1.75rem .5rem;
  }

  .message-span {
    font-size: large;
    font-family: cursive;
    color: red;
  }
}
